<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-row>
    <ion-col>
      <img class="swapplogo" src="../../assets/img/swapplogo.png">
    </ion-col>
    </ion-row>
    <ion-item class="login-item ion-text-center">
      <ion-input placeholder="Usuário ou e-mail" type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <br>
    <ion-item class="login-item ion-text-center">
      <ion-input placeholder="Senha" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <div class="center">
    <ion-button class="login-button" color="secondary" shape="round" (click)="login()"><b>Login</b></ion-button>
    <ion-button class="semconta-button" color="secondary" shape="round"><b>Não tem uma conta? <i>Cadastre-se</i></b></ion-button>
  </div>
</ion-content>
