.swapplogo {
  width: 55%;
  margin: 25% auto 25%;
  display: block;
}

.login-item{
  width: 70%;
  border-radius: 30px;
  margin: 0 15%;
}

.login-button{
  width: 45%;
  margin: 0 28%;
}

.semconta-button{
  margin: 23% 0 0;
}

.center{
  text-align: center;
}