.botaocentro {
    ion-content button {
    height: 70vh !important;
    width: auto !important;
    align-items: center;
    }
    }

h2{
    margin-left: 10px;
}

h5{
    margin-left: 10px;
}

p{
    margin-left: 10px;
}

.footeranunciante{
    background-color: #F5F5F5;
}

h6{
    color: #8D8D8D;
}
