<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Anúncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lil Pump Semi-novo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img
        src="../assets/img/lil.jpg"
        style="width : 100% ; height : 100%" ng-click="nextpage()">
      <ion-card-subtitle>Estou trocando esse Lil Pump Semi-Novo, pouco tempo de uso. Troco por Michael Jackson usado
      </ion-card-subtitle>
      <ion-item>
        <ion-label></ion-label>

      </ion-item>
      Publicado há alguns minutos
    </ion-card-content>
  </ion-card>
  <ion-row >
    <ion-col class="ion-text-center">
    <ion-button href="#"  color="primary">
      <h4 color="primary">Entrar em contato</h4>
    </ion-button>
    </ion-col>
  </ion-row>
</ion-content>