<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Anúncio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/img/viola.png" style="width: 100%">
  <h2>Violão Strinberg Aw53c BK Acústico</h2>
  <p> Troco esse belo violão, por gaita de fole em bom estado! </p>
  <ion-row>
    <ion-col class="ion-text-center">
      <img src="../assets/img/hr.png">
    </ion-col>
  </ion-row>
  <h5>Publicado a alguns minutos</h5>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button expand="full" shape="round">Entrar em contato</ion-button>
    </ion-col>
  </ion-row>
  <div class="footeranunciante">
    <h6 class="ion-text-center">Rafael Monteiro (Anunciante)</h6>
  </div>
</ion-content>