:root {
  --ion-color-primary: #9575cd;
  --ion-color-primary-rgb: 149,117,205;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #8367b4;
  --ion-color-primary-tint: #a083d2;

  --ion-color-secondary: #65499c;
  --ion-color-secondary-rgb: 101,73,156;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #594089;
  --ion-color-secondary-tint: #745ba6;

  --ion-color-tertiary: #c7a4ff;
  --ion-color-tertiary-rgb: 199,164,255;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #af90e0;
  --ion-color-tertiary-tint: #cdadff;

  --ion-color-success: #e2e4e8;
  --ion-color-success-rgb: 226,228,232;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #c7c9cc;
  --ion-color-success-tint: #e5e7ea;

  --ion-color-warning: #263445;
  --ion-color-warning-rgb: 38,52,69;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #212e3d;
  --ion-color-warning-tint: #3c4858;

  --ion-color-danger: #1e2d3e;
  --ion-color-danger-rgb: 30,45,62;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #1a2837;
  --ion-color-danger-tint: #354251;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


}