<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="light"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="roxo">
    <div class="padding"></div>
    <img class="centralizar" src="../assets/img/emo.jpg" width="80px">
  </div>


  <h5>Rafael Monteiro</h5>
  <h6 class="little">Joinville - SC</h6>
  <h6 class="littleb"><b>40 trocas feitas</b></h6>
  <h6 class="little"><b>445</b> Análises</h6>
  <ion-button class="bao" routerLink="../chat">
    <ion-icon class="icu" name="chatbubbles"></ion-icon>
  </ion-button>
  <ion-card color="success">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
              <img class="size" src="../assets/img/emo.jpg">
          </ion-col>
          <ion-col size="9">
            <ion-card-title>Baixo PHX top v ativo bs-5 g</ion-card-title>
            <ion-card-subtitle>Troco por Guitarra Les Paul Epiphone</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <img src="../assets/img/baixo.jpg" class="image">
    </ion-card-content>

  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
              <img class="size" src="../assets/img/emo.jpg">
          </ion-col>
          <ion-col size="9">
            <ion-card-title>Teclado Musical Yamaha Psr F51</ion-card-title>
            <ion-card-subtitle>Troco por Maracas Xpro Par Em Madeira</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <img src="../assets/img/teclado.jpg" class="image">
    </ion-card-content>

  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
              <img class="size" src="../assets/img/emo.jpg">
          </ion-col>
          <ion-col size="9">
            <ion-card-title>Escaleta Konig 37 Teclas Profissional Com Estojo E 2 Bocais</ion-card-title>
            <ion-card-subtitle>Troco por Controle Wireless - Xbox One</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <img src="../assets/img/escaleta.jpg" class="image">
    </ion-card-content>

  </ion-card>

</ion-content>
