.image{
    border: 1px solid black;
    width: 516pt;
    height: 150pt;
}

.size{
    border-radius:100px;
    width: 50px;
}


.centralizar{
    margin: 0 39%;
    display: block;
    border-radius: 100px;
    float:center;
}

.padding{
    padding-top: 120px;
}

.roxo{
    background-color: #9575cd;
}

h5{
    text-align: center;
}

.little{
    font-size: 14px;
    text-align: center;
}

.littleb{
    text-align: center;
    font-size: 14px;
    margin-bottom: -12px;
}

.littlec{
    font-size: 14px;
    text-align: right;
}

.littled{
    font-size: 14px;
    text-align: left;
}

.anapro{
    margin-top: 0px;
}

.borderesq{
    border-left: 1px black;
}

.littlec{
    background-color:#c4c4c4be;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: rgb(48, 48, 48);
}