<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-button routerLink="../inicio"><ion-icon name="arrow-round-back" color="light"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title color="light">Seu perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="roxo">
    <div class="padding"></div>
    <img class="centralizar" src="../assets/img/perfil.jpg" width="98px" height="99px"><br>
  </div>


  <h5>{{userId}}</h5>
  <h6 class="little"><b>Bem vindo(a)!</b></h6>
  <h6 class="littleb"><b>0 </b>Trocas feitas</h6>
  <h6 class="little"><b>0</b> Análises</h6>

  <h6 class="littlec"><b>Nenhum item publicado até o momento!</b></h6>

</ion-content>
