<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-row>
          <ion-col class="ion-text-center">
            <img class="logo" src="../assets/img/swapplogo.png">
          </ion-col>
        </ion-row>
        
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-row>
  <ion-col size="8">
  <ion-searchbar animated color="light" placeholder="Pesquisar..."></ion-searchbar>
  </ion-col>
  <ion-col size="4">
    <ion-button color="secondary">ANUNCIAR</ion-button>
</ion-col>
</ion-row>                  
<h4 class="recomendados" color="light">Recomendados</h4>
</ion-content>
