ion-menu {
    --ion-background-color: var(--ion-color-danger);
    --ion-text-color: var(--ion-color-warning-contrast);
  
  
    ion-toolbar {
      --background: var(--ion-color-warning);
    }
  
  
    ion-list {/* optional, but it needs when you use gradient as a background color.*/
      background: transparent;
    }
  }