
.header{
    margin: 20px;
    
}
.main-content{
    background-color:#263445 !important;
}

ion-header{
    background-color:#263445 !important;
}

.size{
    border-radius:100px;
    width: 70px;
}

.foto{
    background-color:#263445;
}

.info{
    color:white;
    background-color:#263445;
}

.divisao{
    margin: 30px;
}
