<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-row>
          <ion-col class="ion-text-center">
            <img class="logo" src="../../assets/img/swapplogo.png">
          </ion-col>
        </ion-row>
        
  </ion-toolbar>
</ion-header>

<ion-content color="primary"><br><br>
  <ion-item class="cadastro-item ion-text-center" lines="none">
    <ion-input class="font" placeholder="Nome Completo" type="text"></ion-input>
  </ion-item>
  <br>
  <ion-item class="cadastro-item ion-text-center" lines="none">
    <ion-input class="font" placeholder="Nome de Usuário" type="text"></ion-input>
  </ion-item>
  <br>
  <ion-item class="cadastro-item ion-text-center" lines="none">
    <ion-input class="font" placeholder="Data de Nascimento" type="text"></ion-input>
  </ion-item>
  <br>
  <ion-item class="cadastro-item ion-text-center" lines="none">
    <ion-input class="font" placeholder="Telefone / Celular" type="text"></ion-input>
  </ion-item>
  <br>
  <ion-item class="cadastro-item ion-text-center" lines="none">
    <ion-input class="font" placeholder="Cpf" type="text"></ion-input>
  </ion-item>
  <br>
  <ion-item class="cadastro-item ion-text-center" lines="none">
    <ion-input class="font" placeholder="CEP" type="text"></ion-input>
  </ion-item>
  <br>
  <ion-item class="cadastro-item ion-text-center" lines="none">
    <ion-input class="font" placeholder="E-mail" type="text"></ion-input>
  </ion-item>
  <br>
  <ion-item class="cadastro-item ion-text-center" lines="none">
    <ion-input class="font" placeholder="Senha" type="text"></ion-input>
  </ion-item>
  <br>
  <ion-item class="cadastro-item ion-text-center" lines="none">
    <ion-input class="font" placeholder="Confirmação da senha" type="text"></ion-input>
  </ion-item>
  <br>
  <ion-button class="cadastro-button" color="secondary" shape="round"><b>Cadastrar</b></ion-button>
  <br><br>
</ion-content>
