.logo {
  width: 27.5%;
  margin: 0 27% 3%;
    display: block;
}

.cadastro-item{
  height: 40px;
    border-radius: 30px;
    margin: 0 12%;
  }

  .font{
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .cadastro-button{
    width: 45%;
    margin: 0 28%;
  }
  
  .center{
    text-align: center;
  }

  .titulo-label{
      margin-left: 50px;
}