<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon name="arrow-round-back" color="light"></ion-icon></ion-menu-button>
      </ion-buttons>
    <ion-title color="light">Anunciar um produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="titu">
<h5><b>Adicione uma imagem. <br> (Tamanho recomendado 500X500)</b></h5>

</div>
<ion-item class="anuncia-item ion-text-center">
  <ion-input class="font" placeholder="Título" type="text"></ion-input>
</ion-item><br>

<ion-item class="anuncia-item ion-text-center">
  <ion-input class="font" placeholder="Subtítulo" type="text"></ion-input>
</ion-item>
<br>
<h5 class="pub">Publicado em 11/11/2020</h5>
<hr class="linha">
</ion-content>

