.titu{
    text-align: center;
    color: #686868;
}
h5{
    font-size: 15px;
}

.anuncia-item{  
    margin: 0 3%;
   
  }
  .font{
    background-color: #E8E8E8;
    border-radius: 15px;
    padding-left: 8px;
    height: 42px;
  }
  .pub{
    color: #686868;
    margin-left: 34px;
  }

  .linha{
      background-color:#686868;
      width: 310px;
    }
 .anunciar{
  width: 60%;
  height: 7%;     
  margin: 0 18% 0 ;
 }
.bao{
  width: 130px;
  height: 110px;
  
}
.icu{
 width: 50px;
 height: 50px;
}
.desc{
  background-color:  #E8E8E8;
  border-radius: 15px;
  margin: 0 3% 0 ;
  padding-left: 8px;
}

.imagemm{
  width: 90%;
  margin: auto;
  display: block;
  border: 2px solid #9575cd;
}
