.titu{
    text-align: center;
    color: #686868;
}
h5{
    font-size: 15px;
}

.anuncia-item{
    width: 90%;
    height: 7%;     
    margin: 0 3%;
  }
  .font{
    background-color: #E8E8E8;
    border-radius: 30px;
  }
  .pub{
    color: #686868;
    margin-left: 20px;
  }

  .linha{
      background-color:#686868;
      width: 350px;
  }
 