<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-button routerLink="../inicio"><ion-icon name="arrow-round-back" color="light" ></ion-icon></ion-button>
      </ion-buttons>
    <ion-title color="light">Anunciar um produto</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>

    

<div class="titu">
<h5><b>Adicione uma imagem. <br> (Tamanho recomendado 500X500)</b></h5>
<ion-button class="bao">
      <ion-icon class="icu" name="camera"></ion-icon>
    </ion-button>
</div><br>
<ion-item class="anuncia-item" lines="none">
  <ion-textarea class="font" placeholder="Título" type="text"></ion-textarea>
</ion-item><br>

<ion-item class="anuncia-item" lines="none">
  <ion-textarea class="font" placeholder="Subtítulo" type="text"></ion-textarea>
</ion-item>

<h5 class="pub">Publicado em 11/11/2020</h5>
<hr class="linha">
<ion-item lines="none" >
  <ion-textarea class="desc" placeholder="Descrição"></ion-textarea>
</ion-item>
<br> 
<ion-item class="anuncia-item " lines="none">
  <ion-textarea class="font" placeholder="Etiqueta" type="text"></ion-textarea>
</ion-item><br>

  <ion-button class="anunciar" color="secondary" shape="round"><b>ANUNCIAR</b></ion-button>
<br>

</ion-content>

