.mensagem{
    border-radius: 30px;
    width: 130px;
    background-color:#D8D8D8;
   }
   
   .icon-button{
       margin: 0 0 0 10px;
   }
   ion-fab-button{
       width: 45px;
       height: 45px;
       
   }
   
   .emo{
       margin: 20px 0 0 15px;
   }
   
   .txt{ 
       border-radius: 10px;
       background-color: #9c7ecf8a;
       margin: 30px 15px 0 100px;
       font-size: 12pt;
       color: #47525E;
   }
   .txte{
   
       border-radius: 10px;
       background-color: #9c7ecf8a;
       margin: 10px 15px 0 70px;
       font-size: 12pt;
       color: #47525E;
      
   }
   .dot{
   border-radius: 10px;
   background-color: #9c7ecf8a;
   margin: 10px 5px 0px 80px;
   font-size: 12pt;
   color: #47525E;
   width: 10px;
   height: 10px;
   }
   .dot1{
       border-radius: 10px;
       background-color: #9c7ecf8a;
       margin: 10px 5px 0px 0px;
       font-size: 12pt;
       color: #47525E;
       width: 10px;
       height: 10px;
       }
       .dot2{
           border-radius: 10px;
           background-color: #9c7ecf8a;
          margin: 10px 5px 0px 0px;
           font-size: 12pt;
           color: #47525E;
           width: 10px;
           height: 10px;
           }
               